.mainPage{
    width: 100%;
    box-sizing: border-box;
    padding: 100px 160px;
    /* background-color: coral; */
    display: flex
}
.landingImage{
    width: 50%;
    height: 700px;
}

@media (max-width: 600px){
    .mainPage{
        padding: 20px 10px;
    }
    .landingImage{
        display: none;
    }
}